

{% extends 'base.html' %}

{% block content %}

<div class="card my-3">
  <div class="card-header">
    <strong>Login</strong>
  </div>
  <div class="card-body">
    <form method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username">
        
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
      <hr>
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      <hr>
      <strong>
        Don't have account!
        <a href="{% url 'register' %}">Sign Up</a>
      </strong>
      
    </form>
  </div>
</div>

{% endblock %}